
<ul><br><h2>CV</h2><br><p><p></p>
    <h2>Information</h2>
    <ul>
        <li>Name: {{name}}</li>
        <li>Email: {{email}}</li>
        <li>Mobile: {{mobile}}</li>
        <li>Github: {{github}}</li>
        <li>LinkedIn: {{linkedin}}</li>
    </ul>
    <h2>Summary</h2>
    <ul>
        <li>Summary:</li>
        <p>{{summary}}</p>
    </ul>
    <h2>Experiences</h2>
    <ul>
        <li>job title: {{job}}</li>
        <li>company: {{company}}</li>
        <li>period: {{period}}</li>
        <li>job description: {{description}}</li>
    </ul>
    <h2>Education</h2>
    <ul>
        <li>university/college: {{university}}</li>
        <li>faculty: {{faculty}}</li>
        <li>GPA: {{gpa}}</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        <li>Tech Stack: {{skills}}</li>
    </ul>

    </ul></p></ul><p style="text-align: center;font-size:120%;"><a href='/save/{{cv_id}}'>SAVE TO PDF</a></p>